.actionBadgeContainer {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 50px;
    color: var(--color-white) !important;
    background-color: var(--color-white-30);
}
.actionBadgeContainer[data-variant="skills"] {
    width: 100%;
}
.actionBadgeContainer[data-variant="works"] {
    width: calc(100% - 40px);
    backdrop-filter: blur(10px);
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.actionBadgeContainer[data-color="white"] {
    background-color: var(--color-black-30);
}
.actionBadgeContainer[data-color="red"] .actionBadgeIconContainer {
    background-color: var(--color-gray);
}

.actionBadgeContent {
    padding-inline: 20px;
    padding-block: 10px;
}
.actionBadgeIconContainer {
    padding-inline: 20px;
    display: flex;
    align-items: center;
    background-color: var(--color-red);
    border-radius: 50px;
    box-shadow: 0px 0px 10px 0px var(--color-black-30);
    font-size: clamp(0.875rem, 0.18vw + 0.84rem, 1rem);
}
.actionBadgeIcon {
    width: 1.5em;
    height: 1.5em;
}