.worksContainer {
    padding-inline: calc(var(--spacing-padding-50) + var(--spacing-padding-150));
    gap: calc(var(--spacing-padding-50) + var(--spacing-padding-150));
    will-change: transform;
    padding-top: var(--spacing-40);
}

.carouselContainer {
    padding-inline: calc(var(--spacing-padding-50) + var(--spacing-padding-150));
    overflow: hidden;
}