.lifeStyleContainer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: var(--spacing-gap-40);
    margin-inline: calc(var(--spacing-padding-50) + var(--spacing-padding-150));
    /* margin-inline: var(--spacing-padding-50) */
}
.lifeStyleInnerContainer {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-gap-32);
    height: 12.5rem;
}
.lifeStyleInnerContainer[data-variant="reverse"] {
    flex-direction: row-reverse !important;
}

.lifeStyleContentContainer {
    max-height: 100%;
    display: flex;
    width: fit-content;
    flex-direction: column;
    gap: var(--spacing-gap-8);
    overflow: visible;
    white-space: nowrap;
    display: block;
}
.lifeStyleContentContainer h3 {
    min-width: max-content;
}
.lifeStyleContentContainer p {
    white-space: normal;
}

.holderImg {
    width: 200%;
    border-radius: var(--radius-variable);
    overflow: hidden;
}
.holderImg img {
    width: 100%;
    height: auto;
}


.carouselContainer {
    position: relative;
    width: 100vw;
    padding-inline: calc(var(--spacing-padding-50) + var(--spacing-padding-150));
    overflow: hidden;
}