.actionBadgeContainer {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-radius: var(--radius-50);
    color: var(--color-white) !important;
    background-color: var(--color-white-30);
    width: calc(100% - 40px);
    backdrop-filter: blur(10px);
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 5;
}
.actionBadgeContainer[data-variant="reverse"]{
    flex-direction: row-reverse;
}

.actionBadgeContent {
    padding-inline: 20px;
    padding-block: 10px;
}
.actionBadgeIconContainer {
    border-radius: var(--radius-50);
    box-shadow: var(--little-shadow);
}