.actionBadgeContainer {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-radius: var(--radius-50);
    color: var(--color-white) !important;
    background-color: var(--color-black-30);
    width: 100%;
    backdrop-filter: blur(10px);
}
.actionBadgeContainer[data-absolute="absolute"] {
    background-color: var(--color-white-30) !important;
    width: calc(100% - 40px);
    position: absolute;
    left: 20px;
    z-index: 20;
}

.actionBadgeContainer[data-variant="reverse"] {
    flex-direction: row-reverse;
}
.actionBadgeContainer[data-position="top"] {
    top: 20px;
    width: calc((100% - (var(--spacing-padding-50) * 2)) - 40px);
    left: calc(var(--spacing-padding-50) + 20px);
}
.actionBadgeContainer[data-position="bottom"] {
    bottom: 20px;
}

.actionBadgeContent {
    padding-inline: 20px;
    padding-block: 10px;
}
.actionBadgeIconContainer {
    border-radius: var(--radius-50);
    box-shadow: var(--little-shadow);
}