@import "tailwindcss";

/*variables*/
@theme {
  /*colors*/
  --color-black: #111418;
  --color-gray: #24272B;
  --color-white: #F2F7FD;
  --color-white-30: rgba(242, 247, 253, .3);
  --color-white-70: rgba(242, 247, 253, .7);
  --color-red: #941721;
  --color-light-red: #CC2936;
  --color-red-30: rgba(204, 41, 54, .3);

  /*gaps*/
  --spacing-gap-8: 8px;
  --spacing-gap-16: 16px;
  --spacing-gap-32: 32px;
  --spacing-gap-40: 40px;

  /*padding*/
  --radius-variable: clamp(1.25rem, 2.5vw + 0.75rem, 2.5rem);
  --spacing-padding-radius: 40px;
  --spacing-padding-50: clamp(1.56rem, 2.23vw + 1.11rem, 3.125rem);
  --spacing-padding-150: clamp(0rem, 13.39vw - 2.67rem, 9.375rem);

  /*spacing*/
  --spacing-80: clamp(2.5rem, 3.57vw + 1.78rem, 5rem);
  --spacing-40: calc(var(--spacing-80) / 2);
  --spacing-160: clamp(5rem, 7.14vw + 3.57rem, 10rem);

  /*font*/
  --font-montserrat: var(--font-montserrat);
  --font-dirtyline: var(--font-dirtyline);
  --font-code: var(--font-code);

  /*font weight*/
  --font-bold: 600;

  /*font-size*/
  --h1-size: clamp(3.5rem, 9.5vw + 1.4rem, 10rem);
  /* --h2-size: clamp(4.37rem, 10.54vw + 2.26rem, 11.75rem); */
  --h2-size: clamp(2.5rem, 10.54vw + 1rem, 11.75rem);
  --h3-size: clamp(1.40rem, 2.20vw + 1.1rem, 3rem);
  --h6-size: clamp(0.875rem, 0.18vw + 0.84rem, 1rem);
  --p-size: clamp(1rem, 0.36vw + 0.93rem, 1.25rem);

  /*transition*/
  --transition-beizer: cubic-bezier(.0.5, 0, 0.44, 1);
}

/*base style*/
@layer base {
  * {
    box-sizing: border-box;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }
  body {
    background: var(--color-white);
    color: var(--color-gray);
    font-family: var(--font-montserrat);
    overflow-x: hidden;
    max-width: 100vw;

    background-image: url('/texture.webp');
    background-size: 100%;
    background-position: center;
    background-repeat: repeat;
  }
  section {
    padding-inline: var(--spacing-padding-50);
    position: relative;
  }
  section.noSpacing {
    padding: 0;
  }
  section.bigSpacing {
    padding-inline: calc(var(--spacing-padding-50) + var(--spacing-padding-150));
  }

  footer {
    background: var(--color-red);
    color: var(--color-white);
    padding-inline: calc(var(--spacing-padding-50) + var(--spacing-padding-150));
    display: flex;
    flex-direction: column;
    gap: var(--spacing-gap-32);
    overflow: hidden;
  }

  img {
    user-select: none;
    pointer-events: none !important;
  }

  ::selection {
    background: var(--color-red);
    color: var(--color-white);
  }

  /*typography*/
  h1 {
    font-family: var(--font-dirtyline);
    font-size: var(--h1-size);
  }
  h2 {
    font-family: var(--font-dirtyline);
    font-size: var(--h2-size);
    color: var(--color-red);
    text-align: center;
  }
  h3 {
    font-family: var(--font-dirtyline);
    font-size: var(--h3-size);
    text-transform: lowercase;
  }
  h6 {
    font-size: var(--h6-size);
    font-weight: 600;
    user-select: none;
  }

  p {
    font-size: var(--p-size);
    text-wrap: wrap;
    user-select: all;
  }
  p.code {
    font-family: var(--font-code);
    font-size: 1.25rem;
    color: var(--color-white);
  }
  p.blueprintTitle {
    font-family: var(--font-dirtyline);
    font-size: 2rem;
    line-height: 1.1;
  }
  p.blueprintInfo {
    font-size: 0.9375rem;
    color: var(--color-white-30);
    user-select: none;
  }

  h1, h2, h3 {
    line-height: 0.9;
    user-select: none;
  }
  h6, p {
    line-height: 1.5;
  }
}