footer p::selection {
    background: var(--color-gray) !important;
}

.footerTitleContainer {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-gap-16);
    font-size: var(--h3-size);
    width: fit-content;
}

.contactContainer {
    display: flex;
    gap: var(--spacing-gap-32);
    flex-wrap: wrap;
}
.contact {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-gap-8);
}
.contactTitle {
    color: var(--color-white-70) !important;
    text-transform: capitalize;
}
.contactContent {
    font-weight: var(--font-bold) !important;
    text-decoration: underline !important;
}
.linksContainer {
    display: flex;
    gap: var(--spacing-gap-8);
}

.coloredSpan {
    color: var(--color-black) !important;
}