.titleContainer {
    height: fit-content;
    width: fit-content;
    overflow: hidden;
    position: relative;
}
.titleContainer[data-position="center"] {
    left: 50%;
    transform: translateX(-50%);
}