.workSection {
    padding-inline: 0;
    padding-top: var(--spacing-padding-50);
}
.workSection[data-device='device'] {
    margin-top: 10px;
    padding-top: var(--spacing-padding-radius);
    border-top-left-radius: var(--spacing-padding-radius);
    border-top-right-radius: var(--spacing-padding-radius);
    box-shadow: var(--shadow);
    position: relative;
    overflow: hidden;
}

.grabBar {
    height: 3px;
    background: var(--color-black-30);
    border-radius: 50px;
    width: 25%;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.carouselContainer {
    width: 100%;
    padding-inline: var(--spacing-padding-50);
    overflow: hidden;
    position: relative;
}
.workTitle {
    width: min-content;
    color: var(--color-white);
    text-align: left;
    position: absolute;
    bottom: 35px;
    left: calc(var(--spacing-padding-50) + 20px);
    z-index: 5;
     filter: drop-shadow(0 0px 10px var(--color-black));
}
.workTitleDevice {
    text-align: left;
    padding-inline: var(--spacing-padding-50);
    color: var(--color-gray);
}

.paddingContainer {
    padding-inline: calc(var(--spacing-padding-50) + var(--spacing-padding-150));
}
.littleTitle {
    font-weight: var(--font-bold);
}

.mainContentContainer {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-gap-40);
}
.techStackContainer {
    display: flex;
    gap: var(--spacing-gap-32);
    flex-wrap: wrap;
}
.techStackInnerContainer {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-gap-16);
    padding: var(--spacing-padding-radius);
    border-radius: var(--spacing-padding-radius);
    border: solid 2px var(--color-black);
    flex-grow: 1;
}
.techStackIconContainer {
    display: flex;
    gap: clamp(2rem, 5vw + 2.5rem, 6.75rem);
    flex-wrap: wrap;
}
.techStackIcon {
    width: auto;
    height: clamp(5rem, 2rem + 10vw, 11.25rem);
}

.keyFeaturesContainer {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-gap-32);
}
.keyFeaturesInnerContainer {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-gap-8);
}