.cursor {
    --color-cursor: var(--color-red);
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999;
    transform: translate(-50%, -50%);
    will-change: left, top;
    opacity: 1;
    transition: opacity 0.2s var(--transition-beizer);
}
.cursor.blend {
    --color-cursor: var(--color-black) !important;
}

/* all */
.default,
.text,
.arrowLeft,
.arrowRight,
.label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: opacity 0.2s var(--transition-beizer),
                transform 0.2s var(--transition-beizer);
    pointer-events: none;
    white-space: nowrap;
}

.cursor:not(.textActive):not(.arrowLeftActive):not(.arrowRightActive):not(.labelActive):not(.imageActive):not(.hover) .default {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.hidden {
    opacity: 0 !important;
}

/* hover */
.cursor.hover .default {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

/* svg base */
.cursor svg {
    transition: transform 0.2s var(--transition-beizer);
    display: block;
    overflow: visible;
}
.dot {
    transform-origin: center;
    transition: transform 0.2s var(--transition-beizer);
    fill: var(--color-cursor);
}

/* hover & click */
.cursor.hover .dot {
    transform: scale(5);
}
.cursor.clicking svg {
    transform: scale(0.65);
}

/* text */
.line {
    fill: var(--color-cursor);
    width: 4px;
    height: 20px;
}
.cursor.textActive .text {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

/* arrow */
.arrowLeftPath, .arrowRightPath {
    transform-origin: center;
    stroke: var(--color-cursor);
    fill: none;
    stroke-width: 50;
    stroke-linejoin: round;
    stroke-linecap: round;
}
.arrowRightPath {
    transform: scaleX(-1);
}
.cursor.arrowLeftActive .arrowLeft {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.cursor.arrowRightActive .arrowRight {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

/* label */
.label {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-cursor);
    color: var(--color-white);
    font-size: var(--h6-size);
    font-family: inherit;
    font-weight: var(--font-bold);
    padding: 10px 20px;
    border-radius: 40px;
    letter-spacing: 0.03em;
}
.cursor.labelActive .label {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.cursor.clicking .label {
    transform: translate(-50%, -50%) scale(0.7);
}

/* image */
.cursorImageContainer {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99998;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s var(--transition-beizer);
    will-change: left, top;
    width: 600px !important;
}
.cursorImageContainer.visible {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.cursorImg {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    border-radius: var(--radius-variable);
    display: block;
}

/* global */
:global(body.customCursorActive),
:global(body.customCursorActive *) {
    cursor: none !important;
}